<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{ title | default('관리자') }}</title>
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet"/>
    <link href="/assets/css/styles.css" rel="stylesheet"/>
    <link href="/assets/css/custom.css?v=20260918unread2" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // api.js / utils.js 가 참조하는 서버 주소. 비어 있으면 현재 호스트를 쓴다.
        const baseUrl = "";
    </script>
    <script src="/assets/js/common/api.js"></script>
    <script src="/assets/js/admin/lib/swiper-bundle.min.js"></script>
    <script src="/assets/js/admin/lib/sweetalert2.all.min.js"></script>
    <script src="/assets/js/common/utils.js"></script>
</head>
<body class="nav-fixed">
<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
     id="sidenavAccordion">
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle">
        <i data-feather="menu"></i>
    </button>
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/admin">관리자</a>
    <ul class="navbar-nav align-items-center ms-auto">
        <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
            <a class="btn btn-icon btn-transparent-dark position-relative dropdown-toggle"
               id="navbarDropdownMessages"
               href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <i data-feather="mail"></i>
                <span id="qaMessageCenterBadge" class="qa-mail-badge d-none">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                 aria-labelledby="navbarDropdownMessages">
                <h6 class="dropdown-header dropdown-notifications-header">
                    <i class="me-2" data-feather="mail"></i>
                    Message Center
                </h6>
                <div id="qaMessageCenterList"></div>
                <a class="dropdown-item dropdown-notifications-footer"
                   href="#!" role="button" id="qaMessageCenterFooter">
                    <span id="qaMessageCenterFooterLabel">전체 내역 보기</span>
                    <i class="dropdown-notifications-footer-icon" data-feather="arrow-right"></i>
                </a>
            </div>
        </li>
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
               href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <img class="img-fluid" src="/assets/img/demo/user-placeholder.svg" alt=""/>
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                 aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" src="/assets/img/demo/user-placeholder.svg" alt=""/>
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{ user.user_name }}</div>
                        <div class="dropdown-user-details-email">{{ user.user_id }}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/logout">
                    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">
                    <!--<div class="sidenav-menu-heading">분석</div>
                    <a class="nav-link" href="/admin/screen-analyze" data-full-page="1">
                        <div class="nav-link-icon"><i data-feather="monitor"></i></div>
                        화면 공유 분석
                    </a>-->

                    <div class="sidenav-menu-heading">관리</div>

                    <a class="nav-link" href="/admin">
                        <div class="nav-link-icon"><i data-feather="home"></i></div>
                        Dashboard
                    </a>

                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                       data-bs-target="#collapseMembers">
                        <div class="nav-link-icon"><i data-feather="grid"></i></div>
                        회원 관리
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseMembers" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/user" data-usertype="buyer">회원 관리</a>
                            <a class="nav-link" href="/admin/reviews" data-tab-title="풀이 이력">풀이 이력</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                       data-bs-target="#collapseStudy">
                        <div class="nav-link-icon"><i data-feather="book-open"></i></div>
                        학습 관리
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseStudy" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/study">학습 목록</a>
                            <a class="nav-link" href="/admin/study/create">학습 등록</a>
                        </nav>
                    </div>

                    <a class="nav-link" href="/admin/qa" data-tab-title="Q&A">
                        <div class="nav-link-icon"><i data-feather="message-circle"></i></div>
                        Q&A
                        <span id="qaSidenavBadge" class="qa-sidenav-badge d-none">0</span>
                    </a>

                    <a class="nav-link" href="/admin/popup">
                        <div class="nav-link-icon"><i data-feather="layout"></i></div>
                        팝업
                    </a>
                </div>
            </div>            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Logged in as:</div>
                    <div class="sidenav-footer-title">{{ user.user_id }}({{ user.user_name }})</div>
                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        {# tab-manager.js 가 사이드바 클릭을 탭으로 열 때 쓰는 영역. 없으면 메뉴 클릭이 동작하지 않는다. #}
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: none;"></ul>
        <div class="tab-content" id="myTabContent" style="display: none;"></div>
        <main id="main-content" style="display: block;">
            {# Express에서 res.render('partials/layout_adm', { ...data, body: html }) 의 body #}
            {{ body | safe }}
        </main>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/ranges.js"></script>
<script src="/assets/js/admin/litepicker.js"></script>
<script src="/assets/js/admin/tab-manager.js"></script>
<script src="/assets/js/admin/user-sse.js"></script>
<script src="/assets/js/admin/study-sse.js"></script>
<script src="/assets/js/admin/reviews-sse.js"></script>
<script src="/assets/js/admin/qa-sse.js"></script>
<script src="/assets/js/admin/message-center.js?v=20260918unread2"></script>
<script src="/assets/js/admin/dashboard.js"></script>
<script>
    feather.replace();
</script>
</body>
</html>
